<div class="index-container">

  <div class="primary-products-wrapper">

    <div class="top-banner-wrapper">
      <h1>Get <span>Spare parts</span></h1>
      <p>We consider suitable price & Quality</p>
      <button class="banner-shop-btn shadow">
        Shop Now
      </button>
    </div>
    <!-- <div class="bd-example"> -->
    <div id="carouselExampleControls" class="carousel slide carsal-slide-wrapper" data-ride="carousel">
      <div class="carousel-inner">
        <!-- ------------------------------------------top slide division one--------------------------------------------                             -->
        <div class="carousel-item iteration-one">
          <div *ngFor="let division of divOne" class="crsol-container">
            <div class="carsousel-product shadow" data-holder-rendered="true" id="productItem">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">

                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- ------------------------------------------------------top slide division two----------------------------------------------                         -->
        <div class="carousel-item active iteration-two">
          <div *ngFor="let division of divTwo">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- --------------------------------------------------top slide division three---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divThree">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>
        <!-- --------------------------------------------------top slide division four---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divFour">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>


        <!-- --------------------------------------------------top slide division five---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divFive">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>


        <!-- --------------------------------------------------top slide division six---------------------------------------                        -->
        <div class="carousel-item iteration-three">

          <div *ngFor="let division of divSix">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>

        </div>
        <!-- --------------------------------------------------top slide division seven---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divSeven">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- --------------------------------------------------top slide division eight---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divEight">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- --------------------------------------------------top slide division nine---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divNine">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- --------------------------------------------------top slide division Ten---------------------------------------                        -->
        <div class="carousel-item iteration-three">
          <div *ngFor="let division of divTen">
            <div class="carsousel-product shadow d-block" data-holder-rendered="true">
              <img src="http://localhost:3000/utils/uploads/productsImages/{{division.product_image}}">
              <div class="carsousel-prod-description">
                <h6>{{division.product_name}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev carousel-shift-control" href="#carouselExampleControls" role="button"
        data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next carousel-shift-control" href="#carouselExampleControls" role="button"
        data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- </div> -->


  </div>
  <div class="secondary-products-wrapper">
    <div class="header-title">
      <h3>Featured Products</h3>
      <div class="featured-header-title-border">

      </div>
    </div>
    <div class="featured-product-nav">
      <ul>
        <li (click)="getAllCategoriesProducts()" class="active-featured-pro-nav-link cursor-pointer"
          id="all-category-featured-prod-nav">All</li>
        <li (click)="getProductsByCategory('Cars')" id="car-category-featured-prod-nav" class="cursor-pointer">cars</li>
        <li (click)="getProductsByCategory('Motorcycles')" id="motorcycles-category-featured-prod-nav"
          class="cursor-pointer">Motorcycles</li>
        <li (click)="getProductsByCategory('Bicycles')" id="bicycles-category-featured-prod-nav" class="cursor-pointer">
          Bicycles</li>
        <li (click)="getProductsByCategory('Oils')" id="oils-category-featured-prod-nav" class="cursor-pointer">Oils
        </li>

      </ul>
    </div>
    <!-- //----------------------------------------------ALL PRODUCTS CATEGORIES PRODUCTS----------------------------------- -->
    <div class="featured-products-wrapper" id="featured-products-all-categories-wrapper">
      <div class="product-item shadow " *ngFor="let productItem of featuredProducts">
        <div class="featured-image-wrapper">
          <img src="http://localhost:3000/utils/uploads/productsImages/{{productItem.imageName}}"
            class="featured-product-image" alt="spare image">

        </div>
        <div class="featured-product-details-wrapper">
          <div class="left-wrapper-name">
            <p class="featured-product-name">{{productItem.productName}}</p>

          </div>
          <div class="right-wrapper-right">
            <p>{{productItem.price}} Frw</p>
          </div>
          <div class="featured-pro-seller-wrapper">
            <strong>Seller: </strong>{{productItem.productSeller}}

          </div>
          <div class="featured-pro-collection-wrapper">
            <strong>Collection: </strong>{{productItem.productCollection}}
          </div>

          <div class="featured-product-actions">
            <div (click)="addToCart(productItem.productId,productItem.productName)" class="featured-pro-icon-one cursor-pointer">
              <img src="../../../assets/icons/cart-icon.png" alt="cart icon">
            </div>
            <div class="featured-pro-icon-two cursor-pointer" (click)="likeProduct(productItem.productId)">
              <img src="../../../assets/icons/{{productItem.rateStatusImage}}" alt="like icon">
            </div>
            <div class="featured-pro-icon-three cursor-pointer" routerLinkActive="active"
              [routerLink]="['/exprole-product', productItem.productId]">
              <img src="../../../assets/icons/many-opt-icon.png" alt="like icon">

            </div>

          </div>

        </div>
      </div>


    </div>
    <div class="featured-products-more-btn">
      <!-- <a href="#">More products</a> -->
      <ng-content></ng-content>
      <input type="text" #routeringPagerHolder value="{{currentCategory}}" hidden>
     <button  [routerLink]="['/products', routeringPagerHolder.value]" class="button shadow"><span>More Products </span></button>   
    </div>
    <!-- --------------------------------------------------END OF ALL PRODUCTS CATEGORY-------------------------------------------- -->
  </div>

  <div class="best-sellers-wrapper" hidden>
    <div class="top-sellers-wrapper-header">
      <h1>Fimbo Top Sellers</h1>
    </div>
    <div class="top-sellers-display-wrapper">
      <div class="top-seller-item-container" hidden>
        <div class="top-seller-item shadow"
          style="background-image: url('../../../assets/backgrounds/seller-bg-1.png');">
          <div class="seller-logo-wrapper">
            <img src="../../../assets/top-seller-logos/abg-logo.png" alt="" srcset="">
          </div>
          <div class="seller-explainer-wrapper">
            <p>Toyota Rwanda</p>
          </div>
        </div>

        <div class="top-seller-item shadow"
          style="background-image: url('../../../assets/backgrounds/seller-bg-2.png');">
          <div class="seller-logo-wrapper">
            <img
              src="../../../assets/top-seller-logos/14-148863_mechanic-clipart-mechanical-force-logo-car-mechanical-png-removebg-preview.png"
              alt="" srcset="">
          </div>
          <div class="seller-explainer-wrapper">
            <p>Mecha Gallage</p>
          </div>
        </div>

        <div class="top-seller-item shadow"
          style="background-image: url('../../../assets/backgrounds/seller-bg-3.png');">
          <div class="seller-logo-wrapper">
            <img src="../../../assets/top-seller-logos/green-energy-logo_23-2147536873-removebg-preview.png" alt=""
              srcset="">
          </div>
          <div class="seller-explainer-wrapper">
            <p>Green Energy</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="chat-with-us">
    <div class="elfsight-app-f1973460-f1d8-451e-aaa5-7b3c9d9d5980"></div>
  </div>

  <div class="best-sellers-wrapper">
    <div class="top-sellers-wrapper-header">
      <div class="header-title">
        <h3>The Best & Top Sellers</h3>
        <div class="featured-header-title-border">

        </div>
      </div>
    </div>
    <div class="top-sellers-display-wrapper">
      <div class="top-seller-item-container">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
          <div class="slide top-seller-item shadow" style="background-image: url('../../../assets/backgrounds/seller-bg-1.png');">
              <div class="seller-logo-wrapper">
                <img src="../../../assets/top-seller-logos/abg-logo.png" alt="" srcset="">
              </div>
              <div class="seller-explainer-wrapper">
                <p>Akagera Bussiness Group</p>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>

            <div class="slide top-seller-item shadow"
              style="background-image: url('../../../assets/backgrounds/seller-bg-2.png');">
              <div class="seller-logo-wrapper">
                <img
                  src="../../../assets/top-seller-logos/14-148863_mechanic-clipart-mechanical-force-logo-car-mechanical-png-removebg-preview.png"
                  alt="" srcset="">
              </div>
              <div class="seller-explainer-wrapper">
                <p>Car Mechanical Force</p>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>
            <div class="slide top-seller-item shadow"
              style="background-image: url('../../../assets/backgrounds/seller-bg-3.png');">
              <div class="seller-logo-wrapper">
                <img src="../../../assets/top-seller-logos/green-energy-logo_23-2147536873-removebg-preview.png" alt=""
                  srcset="">
              </div>
              <div class="seller-explainer-wrapper">
                <p>Green Energy</p>
              </div>
            </div>


          </ng-template>
          <ng-template carouselSlide>
            <div class="slide top-seller-item shadow"
              style="background-image: url('../../../assets/backgrounds/seller-bg-4.png');">
              <div class="seller-logo-wrapper">
                <img src="../../../assets/top-seller-logos/Hyundai_Logo_3-removebg-preview.png" alt="" srcset="">
              </div>
              <div class="seller-explainer-wrapper" (click)="check()">
                <p>Hyundai LTD</p>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>
            <div class="slide top-seller-item shadow"
              style="background-image: url('../../../assets/backgrounds/seller-bg-5.png');">
              <div class="seller-logo-wrapper">
                <img src="../../../assets/top-seller-logos/abg-logo.png" alt="" srcset="">
              </div>
              <div class="seller-explainer-wrapper">
                <p>Akagera BG</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
      <div class="become-bestSeller-wrapper">
          <button>Become The Best Seller</button>
        </div>
    </div>
   </div>
</div>

<!-- --------------------------------------------NOT LOGGED IN ERROR MODAL------------------------------- -->
<div id="notLoggedInErrorModal" class="modal">
  <!-- Modal content -->
  <div class="error-modal-content">
      <span class="error-modal-close cursor-pointer" id="error-modal-close">&times;</span>

      <div class="error-modal-content-wrapper">
      <img src="../../../assets/images/unautholized-error.png" alt="error image">
      <p>Please! LogIn to access your Cart.</p>      
    </div>
    <div class="modal-auth-wrapper">
      <div class="login-modal-btn-wrapper">
        <button>LogIn</button>
      </div>
      <div class="sign-up-modal-btn-wrapper">
          <button>SignUp</button>

      </div>
    </div>
  </div>
</div>
<!-- --------------------------------------------END NOT LOGGED IN ERROR MODAL------------------------------- -->

