<div class="container">
  <div class="orders-wrapper">
    <div class="orders-nav">
      <button (click)="triggerOrderModal('addOrder')">Order for product</button>
      <button>Clear all</button>
    </div>
    <div class="ordered-products-container">
      <div class="product-item shadow">
        <div class="product-item-header">
          <img src="../../../assets/icons/delete-accop.png" class="cursor-pointer" alt="delete icon"
            (click)="onRemoveOrder()" title="Delete Order">
        </div>
        <img src="../../../assets/productsImages/1.jpeg" alt="productImage">
        <div class="image-name-price-wrapper cursor-pointer" (click)="triggerOrderModal('exploreOrder')">
          My ordered Product<br> <span class="found-1">Found</span>
        </div>
      </div>
      <div class="product-item shadow">
        <div class="product-item-header">
          <img src="../../../assets/icons/delete-accop.png" class="cursor-pointer" alt="delete icon"
            title="Delete Order">
        </div>
        <img src="../../../assets/productsImages/1.jpeg" alt="productImage">
        <div class="image-name-price-wrapper">
          My ordered Product <br> <span>Pending...</span>
        </div>
      </div>
      <div class="product-item shadow">
        <div class="product-item-header">
          <img src="../../../assets/icons/delete-accop.png" class="cursor-pointer" alt="delete icon"
            title="Delete Order">
        </div>
        <img src="../../../assets/productsImages/1.jpeg" alt="productImage">
        <div class="image-name-price-wrapper">
          My ordered Product <br> <span>Pending...</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -----------------------------------------------CREATE OREDER MODAL---------------------------------------------- -->
<div id="orderModal" class="modal">
  <!-- Modal content -->

  <div class="explore-product-modal">
    <span class="close" (click)="closeModal('orderModal')">&times;</span>

    <div class="order-form-wrapper">
      <label>Product Name<strong>*</strong> <small>{{createOrderErrorHolder[0]}}</small></label>
      <input type="text" placeholder="Product name to order" (click)="resetField('orderName',0)" id="orderName" #orderName>

      <label>Product Description<strong>*</strong> <small>{{createOrderErrorHolder[1]}}</small></label>
      <textarea name="description" id="description" cols="10" rows="3" (click)="resetField('description',1)" #description></textarea>

      <label>Order product's Image (<span>Optional</span>) <small> {{msg}}</small></label>
      <input type="file" name="product image" id="productImage" (change)="selectFile($event)"
       accept="image/x-png,image/jpg,image/jpeg">

      <div class="modal-footer">
        <button class="proceed-btn" *ngIf="newOrder" (click)="onCreateOrder(orderName.value,description.value)">
          Order Now</button>
        <button class="proceed-btn" *ngIf="!newOrder">Save Changes</button>
        <button class="cancel-btn" (click)="closeModal('orderModal')">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- -----------------------------------------------FOUND OREDER MODAL---------------------------------------------- -->
<div id="foundOrderModal" class="modal" *ngIf="orderIsFound">
  <!-- Modal content -->
  <div class="found-product-modal">
    <span class="close" (click)="closeModal('foundOrderModal')">&times;</span>
    <div class="content-header">
      <h1>Your Order was Found Here <small>Click on <u>Explore</u> to get vendor address</small></h1>

    </div>
    <div class="display-vendors-wrapper">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Seller</th>
            <th>City/Town</th>
            <th>Country</th>
            <th>District</th>
            <th>Sector/Zone</th>
            <th>Phone number</th>
            <th>Whatsapp number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>Bangalore</td>
            <td>560001</td>
          </tr>
          <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>Bangalore</td>
            <td>560001</td>
          </tr>
          <tr>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>Tanmay</td>
            <td>Bangalore</td>
            <td>560001</td>
            <td>Bangalore</td>
            <td>560001</td>
          </tr>
        </tbody>
      </table>
</div>

  </div>
</div>