<div class="container-fluid">
    <div class="left-wrapper">
        <h1>
            Best Plans to bost your shop
        </h1>
        <p>By default your shop is offered a free <span>Bronze plan</span>.
        to upgrade you bussiness find out more plans to unlimite you online fimbo shop from progress</p>

        <ul>
            <li class="bronze">Blonze</li>
            <li class="silver">Silver</li>
            <li class="gold">Gold</li>
            <li class="platinum">Platinum</li>
        </ul>
        <button class="mini-button">Read more</button>
    </div>
    <div class="right-wrapper">
       <img src="../../../assets/images/plans.svg" alt="bussiness plan">
    </div>
</div>
